.sidebarOption{
    display: flex;
    color: grey;
    align-items: center;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}
.sidebarOption > hr{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.sidebarOption:hover{
    color: coral;
}

.sidebarOption__icon{
    padding-left: 10px;
    padding-right: 10px;
}